<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="memberSQL"> -->
<mapper namespace="chef.dao.ChefDAO">

	<insert id="apiUploadChef" parameterType="chef.bean.ChefDTO">
        INSERT INTO chef (chef_name, image_fileName, image_original_fileName)
        VALUES (#{chefName}, #{imageFileName}, #{imageOriginalFileName})
    </insert>
	
	<!-- 목록 -->
	<select id="apiChefList" resultType="chef.bean.ChefDTO">
		SELECT chef_id as chefId, 
		chef_name as chefName ,  
		image_fileName as imageFileName,
		image_original_fileName as imageOriginalFileName
        FROM chef 
        ORDER BY chef_id DESC
	</select>
	
	<!-- 1개의 정보 -->
	<select id="apiChefGetDTO" parameterType="int" resultType="chef.bean.ChefDTO">
		select chef_id as chefId , chef_name as chefName,
		image_fileName as imageFileName, image_original_fileName as imageOriginalFileName from chef where chef_id =#{chefId}
	</select>
	
	<select id="apiChefIdByName" parameterType="String" resultType="int">
		select chef_id from chef where chef_name =#{chefName}
	</select>
	
	<!-- imageFileName 얻기 -->
	<select id="apiChefGetImageFileName" parameterType="int" resultType="String">
		select image_fileName from chef where chef_id =#{chefId}
	</select>

	<update id="apiChefUpdate" parameterType="chef.bean.ChefDTO">
    	update chef set chef_name =#{chefName},
    	                      image_fileName =#{imageFileName},
    	                      image_original_fileName =#{imageOriginalFileName}
    	where chef_id =#{chefId }
    </update>
    
    <delete id="apiChefDelete" parameterType="int">
    	DELETE FROM chef WHERE chef_id  = #{chefId}
	</delete>
	
	<update id="apiupdateChefImageFileName" parameterType="map">
    UPDATE chef 
    SET image_fileName = #{newImageFileName}, 
        image_original_fileName = #{originalFilename} 
    WHERE chef_id = #{chefId}
</update>
	
	<!-- 목록 -->
	<select id="apiChefSearch" parameterType = "String" resultType="chef.bean.ChefDTO">
		SELECT chef_id as chefId, 
		chef_name as chefName ,  
		image_fileName as imageFileName,
		image_original_fileName as imageOriginalFileName
        FROM chef 
		WHERE REPLACE(chef_name, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        ORDER BY chef_id DESC
	</select>
	


</mapper>
