<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="memberSQL"> -->
<mapper namespace="comment.dao.CommentDAO">

	<insert id="apiCommentEnroll" parameterType="comment.bean.CommentDTO">
		insert into comment(post_id, member_id, content) values(#{postId}, #{memberId}, #{content})
	</insert>
	
	<select id="apiCommentList" parameterType="int" resultType="comment.bean.CommentDTO">
		select C.comment_id as commentId , C.post_id as postId,
		C.member_id as memberId , C.content , C.created_at as createdAt,
		M.name as name
		from comment as C, member as M where C.member_id = M.member_id and C.post_id = #{postId}
		 order by commentId desc
	</select>
	
	<delete id="apiCommentDelete" parameterType="comment.bean.CommentDTO">
        delete from comment
        where comment_id = #{commentId} and member_id = #{memberId}
    </delete>
    
    <update id="apiCommentUpdate" parameterType="comment.bean.CommentDTO">
    	UPDATE comment
		SET content = #{content}, created_at = CURRENT_TIMESTAMP
		WHERE comment_id = #{commentId} AND member_id = #{memberId}

    </update>

</mapper>
