<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="memberSQL"> -->
<mapper namespace="dish.dao.DishDAO">

	<insert id="uploadDishes" parameterType="java.util.List">
        insert into dish (chef_id, dish_name, image_fileName, image_original_fileName)
        values 
        <foreach collection="list" item="dish" separator=",">
            (#{dish.chefId}, #{dish.dishName}, #{dish.imageFileName}, #{dish.imageOriginalFileName})
        </foreach>
    </insert>
	
</mapper>
