<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="memberSQL"> -->
<mapper namespace="dish.dao.DishDAO">

	<insert id="uploadDishes" parameterType="java.util.List">
        insert into dish (chef_id, dish_name, dish_content, image_fileName, image_original_fileName)
        values 
        <foreach collection="list" item="dish" separator=",">
            (#{dish.chefId}, #{dish.dishName}, #{dish.dishContent}, #{dish.imageFileName}, #{dish.imageOriginalFileName})
        </foreach>
    </insert>
    
    <select id="getDishByChefId" parameterType="Integer" resultType="java.util.List">
    	select dish_id, chef_id, dish_name, image_fileName, image_original_fileName, 
               delicious_count, makeEasy_count
        from dish
        where chef_id = #{chefId}
    </select>
	
	<select id="apiDishList" parameterType="String" resultType="dish.bean.DishDTO">
		SELECT dish_id as dishId, 
			   chef_id as chefId,
			   dish_name as dishName,
			   image_fileName as imageFileName,
			   image_original_fileName as imageOriginalFileName,
			   delicious_count as deliciousCount,
			   makeEasy_count as makeEasyCount
        FROM dish 
        WHERE chef_id = #{chefId}
        ORDER BY dish_id DESC
	</select>
	<select id="apiChefInfo" parameterType="String" resultType="chef.bean.ChefDTO">
		select chef_id as chefId,
			   chef_name as chefName,
			   image_fileName as imageFileName,
			   image_original_fileName as imageOriginalFileName
		from chef where chef_id = #{chefId}
	</select>
	
	<select id="apiDishInfo" parameterType="int" resultType="dish.bean.DishDTO">
		select dish_id as dishId,
			   dish_name as dishName,
			   image_fileName as imageFileName,
			   image_original_fileName as imageOriginalFileName,
			   delicious_count as deliciousCount,
			   makeEasy_count as makeEasyCount,
			   dish_content as dishContent
		from dish where dish_id = #{dishId}
	</select>
  
</mapper>
