<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="memberSQL"> -->
<mapper namespace="member.dao.MemberDAO">
	<insert id="apiMemberJoin" parameterType="member">
		insert into member(name,
						   login_id,
						   pwd,
						   gender,
						   email,
						   tel1,
						   tel2,
						   tel3)
						   values(#{name},
								  #{loginId},
								  #{pwd},
								  #{gender},
								  #{email},
								  #{tel1},
								  #{tel2},
								  #{tel3})
	</insert>
	<select id="apiMemberLogin" parameterType="Map" resultType = "member.bean.MemberDTO">
		select * from member where login_id = #{loginId} and pwd = #{pwd}
	</select>
	<delete id="apiMemberDelete" parameterType="Map">
		delete from member where login_id = #{loginId} and pwd = #{pwd}
	</delete>
	
	<select id="apiIdCheck" parameterType="String"
		resultType="int">
		select count(*) from member where login_id=#{loginId}
	</select>
</mapper>
